*{
    box-sizing: border-box;
}
body {
    font-family: Verdana,Geneva,Tahoma,sans-serif;
    line-height: 1.4;
    background-color: white;
    color: black;
    width: 100%;
    font-size: 15px;
}
/*Phần header*/
#loading{
	position: fixed;
	width: 100%;
	height: 100vh;
	background: #fff
	url('./../../Assets/loading.gif')
	 no-repeat center center;	
	z-index: 99999;
}

.navigation-bar {
    text-align: center;
    font-size: 18px;
    padding: 25px;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    transition: 1s;
    background-color:  rgb(255, 255, 255);
    z-index: 5;
}
.navigation-bar-scrolled {
    text-align: center;
    font-size: 18px;
    padding: 10px;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    background-color: rgb(133, 133, 133);
    z-index: 5;
    box-shadow: 0px 6px 5px 3px rgba(0, 0, 0, 0.281);
}
.nav-center{
    padding-top: 5px;
    padding-bottom: 5px;
    width: 100%;
    display: flex;
    align-items: center;
}
.nav-center .nav-logo {
    max-width: 30%;
}
.nav-center .nav-logo img {
    max-width: 100%;
}
.nav-body {
    list-style-type: none;
    margin: 0 0 0 70px;
    padding: 0;
    letter-spacing: 1.5px;
}
.nav-body li {
    display: inline;
    padding: 0 10px;
    font-weight: 600;
}
.nav-body li a {
    color: black;
    transition: 0.5s;
}
.nav-body li a:hover {
    color: #af9a7d;
    text-decoration: none;
}
.nav-body li i {
    display: none;
    font-size: 3vw;
    margin: 10px;
}
.login-btn{
    margin-left: auto ;
     
}
.login-btn a {
    border: 2px solid #af9a7d;
    background-color: white ;
    font-size: 1vw;
    padding: 7px;
    font-weight: 200px;
    border-radius: 5px;
    color: black;
    transition: 0.5s;
}
.login-btn a:hover {
    background-color: #af9a7d;
    color: white;
    text-decoration: none;
}
@media screen and (max-width: 960px){
.nav-body li a {
    display: none;
}
.nav-body li i{
    display: inline;
}
}
@media screen and (max-width: 790px){

    .nav-body li i{
        margin: 0;
    }
}
@media screen and (max-width: 710px){

    .nav-body li i{
        display: inline;
    }
}





/*Phần body*/
.wrap{
    padding-top: 10px;
}
.wrap-banner {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.wrap-banner video {
    position: relative;
}
.wrap-banner .overlay {
    z-index: 1;
    position: absolute;
    background-color: rgba(0,0,0,.5);
    max-width: 70%;
    min-height: 5vw;
    padding: 5vw 8vw;
    text-align: center;
}
.overlay .overlay-header {
    font-weight: 800;
    font-size: 5vw;
    color: #FFFFFF;
    letter-spacing: 3px;
    margin: 0 0 1.5vw;
}
.overlay .overlay-content {
    font-size: 1.5vw;
    letter-spacing: 1.5px;
    color: white;
    padding-bottom: 1vw;
}
.overlay .overlay-button {
    padding: 10px 0;
}
.overlay .overlay-button a {
    font-size: 1vw;
    text-align: center;
    padding: 0.5vw 1vw;
    background-color: #af9a7d;
    text-transform: uppercase;
    transition: 0.5s;
    border: 3px solid #af9a7d;
    color: black;
}
.overlay .overlay-button a:hover {
    background-color: #af9a7d2f;
    color: #af9a7d;
    text-decoration: none;
}
.line {
    height: 0.5vw;
    width: 30%;
    background-color: #af9a7d;
    margin: 20px auto;
}


/*Section Wrapbanner*/

.wrap-banner {
    background: url('./../../Assets/bg1.jpg') 50%/cover no-repeat;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60vh;
    margin: 0;
    min-height: 5vw;
}
.wrap-banner .overlay {
    z-index: 1;
    position: absolute;
    background-color: rgba(0,0,0,.5);
    max-width: 70%;
    padding: 5vw 8vw;
    text-align: center;
}
.overlay .overlay-header {
    font-weight: 800;
    font-size: 5vw;
    color: #FFFFFF;
    letter-spacing: 3px;
    margin: 0 0 20px;
}
.overlay .overlay-button {
    padding: 1vw 0;
}
.overlay .overlay-button a {
    font-size: 1vw;
    text-align: center;
    padding: 0.5vw 1vw; 
    background-color: #af9a7d;
    text-transform: uppercase;
    transition: 0.5s;
    border: 3px solid #af9a7d;
    color: black;
}
.overlay .overlay-button a:hover {
    background-color: #af9a7d2f;
    color: #af9a7d;
    text-decoration: none;
}
.line {
    height: 0.5vw;
    width: 30%;
    background-color: #af9a7d;
    margin: 1.2vw auto;
}


/* Section search-room*/

.search-room {
    margin: 3vw  0;
}
.search-room h1{
    font-weight: 800;
    letter-spacing: 3px;
    font-size: 3vw;
    padding: 10px 20px;
    margin: 0;
}
.search-room .search-room-header {
    text-align: center;
    width: 40%;
    margin: 0 auto;
}
.search-room-body {
    margin: 4rem auto;
    font-size: 15px;
    width: 90%;
}
.search-room-body input,select {
    margin: 1.5vw 0;
    background-color: white;
    width: 100%;
    font-size: 1vw;
}
.search-room-body select:focus {
    background-color: #cfcfcf;
}
.frm-group label {
    display: block;
    font-size: 1.2vw;
    letter-spacing: 2px;
    margin-bottom: .5rem;
}
#labelPrice {
    color: green;
    font-weight: 700;
}
.search-room-body  button {
    border: 2px solid #af9a7d;
    padding: 0.5vw 1vw;
    transition: 0.5s;
    font-size: 1vw;
    background-color: #af9a7d;
}
.search-room-body  button:hover {
    border: 2px solid #af9a7d;
    padding: 0.5vw 1vw;
    color: #af9a7d;
    background-color: #af9a7d1f;
}









/*Room-sort*/
.room-sort-view  {
    width: 80%;
    text-align: start;
    padding: 0;
    border-bottom: 2px solid #af9a7d;
    display: flex;
}
.room-sort-view .room-sort h4 {
    display: inline-block;
    font-size: 1vw;
}
.room-sort-view .room-sort {
  width: 40%;
}
.room-sort-view .room-sort select option {
    background-color: #cfcfcf;
}
.room-sort-view .room-sort select {
    display: inline;
    margin-left:0px;
    width: 80%;
    border: 2px solid #af9a7d;
    padding: 0.5vw;
}
/*Room-view*/
.room-sort-view .room-view {
    margin-left: auto;
    display: flex;
    align-items: center;
}
.room-view > h4 {
    display: inline-block;
    margin: 0 10px 0 0;
    font-size: 1vw;
}
.room-view i {
    display: inline;
    cursor: pointer;
    transition: .5s;
    font-size: 2vw;
}
.room-view i:hover {
    color: #af9a7d;
}







/*Section room-list-card*/
.room-list {
    text-align: center;
    margin: 3vw 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.room-list .room-list-header {
    width: 40%;
}
.room-list .room-list-header h1{
    font-weight: 800;
    letter-spacing: 3px;
    font-size: 3vw;
    padding: 10px 20px;
    margin: 0;
}
.room-list .room-list-card {
    box-shadow: 2px 5px 3px 0 rgba(0,0,0,.5);
    transition: 0.5s;
}
.room-list .room-list-card:hover {
    box-shadow: 4px 6px 4px 1px rgba(0,0,0,.5);
    background-color: rgba(0, 0, 0, 0.363);
}
.room-list-card:hover .room-list-price-top{
    display: none;
}
.room-list-card-body{
     display: flex;
     justify-content: center;
     align-items: center;
    
}
.room-list-body img{
    max-width: 100%;
    max-height: 100%;
    position: relative;
    z-index: -1;
}
.room-list-body .room-list-price-top {
    position: absolute;
    top: 0;
    background-color: rgba(0, 0, 0, 0.65);
    color: white;
    display: block;
    padding: 0 8px 0 8px;
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
}
.room-list-body .room-list-price-top h6{
    font-size: 1.1vw;
    padding: 8px 8px 0 8px;
}
.room-list-body .room-list-price-top p{
    font-size: 0.8vw;
}
.room-list-body .room-list-overlay {
    position: absolute;
    width: 90%;
    display: flex;
    justify-content: center;
    transition: 0.5s;
    display: none;
}
.room-list-body .room-list-overlay a{
    font-size: 1vw;
    text-align: center;
    padding: 4px 1.1vw;
    background-color: #af9a7d;
    text-transform: uppercase;
    transition: 0.5s;
    border: 3px solid #af9a7d;
    color: black;
    transition: 0.5s;
}
.room-list-card:hover .room-list-overlay{
    display: block;
}
.room-list-body .room-list-overlay a:hover{
    text-decoration: none;
    background-color: #af9a7d93;
}
.room-list .room-list-foot {
    padding: 7px 5px;
    background-color: #cfcfcf;
    font-weight: 800;
    letter-spacing: 1.5px;
    font-size: 1.5vw;
}


/*Footer*/
.wrap-footer{
    padding: 2.5vw 5vw;
    width: 100%;
    background-color: black;
    color: white;
    font-size: 2.5vw;
    height: auto;
    text-align: center;
}
.wrap-footer p {
    font-size: 1vw;
    margin: 1vw;
    padding: 0;
}
.wrap-footer h3 {
    font-size: 2vw;
}
.wrap-footer i {
    font-size: 2vw;
    margin: 5px;
    cursor: pointer;
}






