/*Phần footer */
.wrap-footer{
    padding: 2vw 3vw 0 3vw;
    width: 100%;
    background-color: black;
    color: white;
    height: auto;
    text-align: center;
    line-height: 40px;
}
.wrap-footer h3 {
    font-size: 2vw;
}
.wrap-footer i {
    font-size: 2vw;
    margin: 5px;
    cursor: pointer;
}
.wrap-footer p {
    font-size: 1vw;
    margin: 0;
    padding: 0;
    max-height: 30px ;
}