*{
  box-sizing: border-box;
}
body {
  font-family: Verdana,Geneva,Tahoma,sans-serif;
  line-height: 1.4;
  background-color: white;
  color: black;
  width: 100%;
  font-size: 15px;
}
/*Pháº§n header*/
#loading{
position: fixed;
width: 100%;
height: 100vh;
background: #fff
url('./../../../Assets/loading.gif')
 no-repeat center center;	
z-index: 99999;
}

header {
  text-align: center;
  font-size: 18px;
  padding: 15px;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  box-shadow: 0px 6px 5px 0px rgba(0, 0, 0, 0.281);
  background-color: white;
  z-index: 5;
}
.nav-center{
padding-top: 5px;
padding-bottom: 5px;
width: 100%;
display: flex;
align-items: center;
}
.nav-center .nav-logo {
max-width: 30%;
}
.nav-center .nav-logo img {
max-width: 100%;
}
.nav-body {
list-style-type: none;
margin: 0 0 0 70px;
padding: 0;
letter-spacing: 1.5px;
}
.nav-body li {
display: inline;
padding: 0 10px;
font-weight: 600;
}
.nav-body li a {
color: black;
transition: 0.5s;
}
.nav-body li a:hover {
color: #af9a7d;
text-decoration: none;
}
.nav-body li .i {
display: none;
font-size: 3vw;
margin: 10px;
}
.login-btn{
margin-left: auto ;
 
}
.login-btn a {
border: 0.2vw solid #af9a7d;
background-color: white ;
font-size: 1vw;
padding: 0.5vw;
font-weight: 200px;
border-radius: 5px;
color: black;
transition: 0.5s;
}
.login-btn a:hover {
background-color: #af9a7d;
color: white;
text-decoration: none;
}
@media screen and (max-width: 960px){
.nav-body li a {
display: none;
}
.nav-body li i{
display: inline;
}
}
@media screen and (max-width: 790px){

.nav-body li .i{
    margin: 0;
}
}
@media screen and (max-width: 710px){

.nav-body li .i{
    display: inline;
}
}


.line {
height: 0.5vw;
width: 30%;
background-color: #af9a7d;
margin: 1.2vw auto;
}




/*Login*/

.wrap{
  max-width: 30%;
  margin: 3vw auto;
  padding: 2.5vw;
  box-shadow: 2px 2px 4px rgba(0,0,0,0.125);
  border: 1px solid #af9a7d;
}
.wrap .title {
font-size: 3vw;
font-weight: 700;
margin-bottom: 0px;
color: #202020;
text-transform: uppercase;
text-align: center;
}
.wrap form {
margin-top: 3vw;
}
.wrap .input-gr {
position: relative;
display: grid;
grid-template-columns: 7% 93%;
border-bottom: 2px solid #d9d9d9;
margin: 3vw 0;
padding: 1.2vw 0;
width: 100%;
}
.input-gr .one {
margin-top: 0;
}
.input-gr .icon {
display: flex;
justify-content: center;
align-items: center;
color: #d9d9d9;
margin-left: -5px;
}
.icon > i {
transform: 0.3s;
font-size: 1vw;
}
.input-gr > div >h5 {
position: absolute;
left: 25px;
top: 50%;
transform: translateY(-50%);
color: #999;
font-size: 1vw;
transition: 0.3s;
}
.input-gr:before,.input-gr:after {
content: '';
position: absolute;
bottom: -2px;
width: 0%;
height: 0.1vw;
background-color: #af9a7d;
transition: .4s;
}
.input-gr:before{
right: 50%;
}

.input-gr:after{
left: 50%;
}
.befocus:before, .befocus:after {
width: 50%;
}
.befocus .input-field h5 {
top: -5px;
font-size: 0.8vw ;
}
.befocus > .icon > i {
color: #af9a7d;
}
.input-gr > div > input {
position: absolute;
left: 1vw;
top: 0;
width: 95%;
height: 100%;
border: none;
outline: none;
background-color: transparent;
padding: 0.5rem 0.7rem;
font-size: 15px;
color: #555;
}
.input-gr > div > .pass {
margin-top: 4px;
margin-bottom: 30px;
}
.wrap form > .login-control{
display: flex;
margin-bottom: 20px;
}
.wrap  form > .login-control #registerNew {
display: inline;
font-size: 0.7vw;
color: black ;
}
.wrap  form > .login-control #registerNew a {
display: inline;
text-align: left;
color: #af9a7d;
font-size: 0.7vw;
transition: .3s;
}
.wrap  form > .login-control #forgetPassword {
display: inline;
float: right;
color: #af9a7d;
font-size: 0.7vw;
margin-left: auto;
transition: .3s;
}

.wrap form a:hover{
color: #af9a7d ;
}
.wrap form .btn{
display: block;
width: 100%;
height: 3vw;
border-radius: 25px;
outline: none;
border: none;
background-size: 200%;
background-image: linear-gradient(to right, #af9a7d ,  #856d4b, #c7a575);
font-size: 1.2rem;
color: #fff;
font-weight: 800;
text-transform: uppercase;
margin: 1rem 0;
cursor: pointer;
transition: .5s;
font-size: 1vw;
}
.wrap form .btn:hover{
background-position: right;
}
.terms {
display: flex;
margin: 20px auto 10px auto;
}
.terms p{
font-size: 1vw;
display: inline;
margin-left: 5px;
} 
.terms input[type="checkbox"] {
position: absolute;
opacity: 1;
left: 0;
top: 0;
margin: 0;
}
.check .checkmark{
width: 1vw;
height: 1vw;
border: 1px solid #856d4b;
display: block;
position: relative;
}
.check .checkmark:before{
content: "";
position: absolute;
top: 3px;
left: 2px;
width: 10px;
height: 4px;
border: 2px solid;
border-color: transparent transparent #fff #fff;
transform: rotate(-45deg);
display: none;
}
.check input[type="checkbox"]:checked ~ .checkmark{
background: #80715c;
}

.check input[type="checkbox"]:checked ~ .checkmark:before{
display: block;
}



/*Footer*/
.wrap-footer{
padding: 2.5vw 5vw;
width: 100%;
background-color: black;
color: white;
font-size: 2.5vw;
height: auto;
text-align: center;
}
.wrap-footer p {
font-size: 1vw;
margin: 1vw;
padding: 0;
}
.wrap-footer h3 {
font-size: 2vw;
}
.wrap-footer i {
font-size: 2vw;
margin: 5px;
cursor: pointer;
}
