*{
    box-sizing: border-box;
}
body {
    font-family: Verdana,Geneva,Tahoma,sans-serif;
    line-height: 1.4;
    background-color: white;
    color: black;
    width: 100%;
    font-size: 15px;
}
/*Pháº§n header*/

header {
    text-align: center;
    font-size: 18px;
    padding: 15px;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 5;
}
.nav-center{
    padding-top: 5px;
    padding-bottom: 5px;
    width: 100%;
    display: flex;
    align-items: center;
}
.nav-body {
    list-style-type: none;
    margin: 0 0 0 70px;
    padding: 0;
    letter-spacing: 1.5px;
}
.nav-body li {
    display: inline;
    padding: 0 10px;
    font-weight: 600;
}
.nav-body li a {
    color: black;
    transition: 0.5s;
}
.nav-body li a:hover {
    color: #af9a7d;
    text-decoration: none;
}
.nav-body li i {
    display: none;
    font-size: 30px;
    margin: 10px;
}
.login-btn{
    margin-left: auto ;
     
}
.login-btn a {
    border: 2px solid #af9a7d;
    background-color: white ;
    font-size: 14px;
    padding: 7px;
    font-weight: 200px;
    border-radius: 5px;
    color: black;
    transition: 0.5s;
}
.login-btn a:hover {
    background-color: #af9a7d;
    color: white;
    text-decoration: none;
}
@media screen and (max-width: 960px){
.nav-body li a {
    display: none;
}
.nav-body li i{
    display: inline;
}
}
@media screen and (max-width: 790px){

    .nav-body li i{
        margin: 0;
    }
}
@media screen and (max-width: 710px){

    .nav-body li #icon1{
        display: none;
    }
    .nav-body li #icon2{
        display: none;
    }
}
.line {
    height: 7px;
    width: 30%;
    background-color: #af9a7d;
    margin: 20px auto;
}




/*Login*/

.wrap{
    margin: 5rem 2rem;
    
}
.wrap .user-info {
  padding: 2rem;
  border: 2px solid #af9a7d;
}
.wrap h2 {
  text-align: center;
  margin: 0.5rem 2rem 2rem 2rem;
  font-size: 4rem;
  letter-spacing: 2px;
  font-weight: 600;
}
.user-info .avatar {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.wrap .user-info img{
  width: 60%;
  box-shadow: 2px 2px 4px rgba(0,0,0,0.4);
}
.user-info .info{
  margin: 3rem 5rem;
}
.user-info .info p{
  margin: 5px 0rem;
}
.user-info .change-info {
  display: flex;
  justify-content: center;
  align-items: center;
}
.user-info .change-info button{
  background-color: #af9a7d;
  border: 2px solid #af9a7d;
  margin-right: 10px;
  transition: 0.5s;
  padding: 5px 10px;
}
.user-info .change-info button:hover {
  background-color: #af9a7d52;
  color: #af9a7d;
}
.user-info .change-info a:hover {
  background-color: #af9a7d52;
  color: #cc6a52;
  text-decoration: none;

}
.user-info .change-info a {
  background-color: #cc6a52;
  border: 2px solid #cc6a52;
  margin-right: 10px;
  padding: 5px 10px;
  color: black;
  transition: 0.5s;
}


.wrap .cart {
  padding: 2rem;
  border: 2px solid #af9a7d;
  min-height: 400px;
}
.cart .list-book {
  margin: 2rem 1rem;
}
.list-book .card-book {
  border: 1px solid #af9a7d;
  box-shadow: 2px 2px 4px rgba(0,0,0,0.4);
  display: flex;
  position: relative;
  transition: 0.5s;
  width: 90%;
  margin: 2rem 0;
}
.list-book .card-book h3 {
  margin: 1rem 0 1rem 0 ;
  font-weight: bold;
  letter-spacing: 2px;
}
.list-book .card-book-body {
  margin-left: 2rem;
}
.list-book .card-book-body p {
  font-weight: bold;
}
.list-book .card-book-body span {
  font-weight: 200;
}
.card-book img {
  width: 45%;
  border-radius: 5px;
  margin: 5px;
}
.list-book .card-book:hover .card-book-overlay{
 
  display: flex;
}
.list-book .card-book:hover{
  box-shadow: 4px 4px 5px rgba(0,0,0,0.4);
}

.card-book .card-book-overlay{
  position: absolute;
  transition: 0.5s;
  top: 0;
  width: 10%;
  z-index: 2;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.404);
  display: none;
}
.card-book .card-book-overlay button{
  transition: 0.5s;
  margin-left: 5px;
  background-color: red;
  border: 2px solid red;
  padding: 5px 10px;
}
.card-book .card-book-overlay button:hover{
  background-color: rgba(255, 0, 0, 0.507);
  color: black;
}
.card-book .card-book-overlay a {
  padding: 5px 10px;
  color: black;
  transition: 0.5s;
  border: 1px solid #af9a7d;
  background-color: #af9a7d;
  margin-right: 5px;
}
.card-book .card-book-overlay a:hover {
  color: black;
  text-decoration: none;
  background-color: #af9a7d81;
}







/*Footer*/
.wrap-footer{
    padding: 5rem 15rem;
    width: 100%;
    background-color: black;
    color: white;
    height: auto;
    text-align: center;
    line-height: 40px;
}
.wrap-footer h3 {
    font-size: 3rem;
}
.wrap-footer i {
    font-size: 3rem;
    margin: 5px;
    cursor: pointer;
}