*{
    box-sizing: border-box;
}
body {
    font-family: Verdana,Geneva,Tahoma,sans-serif;
    line-height: 1.4;
    background-color: white;
    color: black;
    width: 100%;
    font-size: 15px;
}
/*Pháº§n header*/
#loading{
	position: fixed;
	width: 100%;
	height: 100vh;
	background: #fff
	url('./../../Assets/loading.gif')
	 no-repeat center center;	
	z-index: 99999;
}

.navigation-bar {
    text-align: center;
    font-size: 18px;
    padding: 25px;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    transition: 1s;
    background-color:  rgba(255, 255, 255, 0.95);
    z-index: 5;
}
.navigation-bar-scrolled {
    text-align: center;
    font-size: 18px;
    padding: 10px;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    background-color: rgb(133, 133, 133);
    z-index: 5;
    box-shadow: 0px 6px 5px 3px rgba(0, 0, 0, 0.281);
}
.nav-center{
    padding-top: 5px;
    padding-bottom: 5px;
    width: 100%;
    display: flex;
    align-items: center;
}
.nav-body {
    list-style-type: none;
    margin: 0 0 0 70px;
    padding: 0;
    letter-spacing: 1.5px;
}
.nav-body li {
    display: inline;
    padding: 0 10px;
    font-weight: 600;
}
.nav-body li a {
    color: black;
    transition: 0.5s;
}
.nav-body li a:hover {
    color: #af9a7d;
    text-decoration: none;
}
.nav-body li i {
    display: none;
    font-size: 30px;
    margin: 10px;
}
.login-btn{
    margin-left: auto ;
     
}
.login-btn a {
    border: 2px solid #af9a7d;
    background-color: white ;
    font-size: 14px;
    padding: 7px;
    font-weight: 200px;
    border-radius: 5px;
    color: black;
    transition: 0.5s;
}
.login-btn a:hover {
    background-color: #af9a7d;
    color: white;
    text-decoration: none;
}
@media screen and (max-width: 960px){
.nav-body li a {
    display: none;
}
.nav-body li i{
    display: inline;
}
}
@media screen and (max-width: 790px){

    .nav-body li i{
        margin: 0;
    }
}
@media screen and (max-width: 710px){

    .nav-body li #icon1{
        display: none;
    }
    .nav-body li #icon2{
        display: none;
    }
}



.wrap {
    padding-top: 10px;
}
/*Section Wrapbanner*/

.wrap-banner {
    background: url('./../../Assets/bg1.jpg') 50%/cover no-repeat;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 400px;
    margin: 0;
}
.wrap-banner .overlay {
    z-index: 1;
    position: absolute;
    background-color: rgba(0,0,0,.5);
    max-width: 70%;
    padding: 32px 96px;
    text-align: center;
}
.overlay .overlay-header {
    font-weight: 800;
    font-size: 5vw;
    color: #FFFFFF;
    letter-spacing: 3px;
    margin: 0 0 20px;
}
.overlay .overlay-button {
    padding: 10px 0;
}
.overlay .overlay-button a {
    font-size: 1.5vw;
    text-align: center;
    padding: 7px 15px;
    background-color: #af9a7d;
    text-transform: uppercase;
    transition: 0.5s;
    border: 3px solid #af9a7d;
    color: black;
}
.overlay .overlay-button a:hover {
    background-color: #af9a7d2f;
    color: #af9a7d;
    text-decoration: none;
}
.line {
    height: 7px;
    width: 30%;
    background-color: #af9a7d;
    margin: 20px auto;
}


/*Section room-detail-gallery */
.room-detail-gallery {
    padding: 0 2rem;
    margin: 10rem 0;
}
.room-detail-gallery img{
    width: 100%;
    height: auto;
    border: 5px dotted #af9a7d;
    padding: 5px;
}


/*Section room-detail-info*/
.room-detail-info {
    padding: 0 2rem;
    margin: 10rem 0;
}
.room-detail-info h2 {
    font-size: 4rem;
    font-weight: 800;
    letter-spacing: 3px;
    margin-bottom: 20px;
}
.room-detail-info p {
    font-size: 1.5rem;
    line-height: 30px;
    letter-spacing: 2px;
}
.room-detail-info h4 {
    font-size: 2rem;
    letter-spacing: 3px;
    margin: 20px 0;
}
.room-detail-info i {
    color: rgb(218, 218, 2);
}




/*Section - room-other*/
.room-other {
    text-align: center;
    margin: 5rem 0;
    height: auto;
    background-color: #cfcfcf;
    padding: 3rem 0;
}
.room-other h1 {
    font-weight: 800;
    letter-spacing: 1px;
    font-size: 4rem;
    padding: 10px 20px;
}
.room-other .slick {
    margin: 3rem;
}
.slick .slick-card {
    display: flex;
    border: 2px solid #af9a7d;
    padding: 2rem;
    background-color: #cfc3b2;
    text-align: left;
    margin: 0 20px ;
}
.slick .slick-card h2 {
    text-transform:capitalize;
    margin: 5px;
    font-weight: 800;
    letter-spacing: 2px;
    margin-bottom: 20px;
    margin-left: 0;
}
.slick .slick-card p {
    font-weight: 800;
    margin-bottom: 20px;
}
.slick .slick-card span {
    font-weight: 200;
    color: green;
}
.slick .slick-card a {
    border: 2px solid #af9a7d;
    padding: 3px 10px;
    background-color: #af9a7d;
    color: black;
    transition: 0.5s;
}
.slick .slick-card a:hover {
    text-decoration: none;
    background-color: #af9a7d26;
    color: #685843;
}
.slick-card img {
    width: 100%;
    height: 100%;
    box-shadow: 3px 6px 4px 2px rgba(0,0,0,.5);
    border-radius: 5px;
}


/*Footer*/
.wrap-footer{
    padding: 5rem 15rem;
    width: 100%;
    background-color: black;
    color: white;
    height: auto;
    text-align: center;
    line-height: 40px;
}
.wrap-footer h3 {
    font-size: 3rem;
}
.wrap-footer i {
    font-size: 3rem;
    margin: 5px;
    cursor: pointer;
}